/* ETH Colors. */
:root {
  --md-primary-fg-color:        #215caf;
  --md-primary-fg-color--light: #7a9dcf;
  --md-primary-fg-color--dark:  #08407e;
}

/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: .05rem solid var(--md-typeset-table-color);
}

a.external:hover::after,
a.autorefs-external:hover::after {
  background-color: var(--md-accent-fg-color);
}
