# Copyright 2023-2024 ETH Zurich and Quantum Transport Toolbox authors.
name: Run Basic Tests and Determine Code Coverage

on: [push, pull_request, workflow_dispatch]

jobs:
  test-cov:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: "3.11"
          channels: conda-forge,defaults
          channel-priority: true
          activate-environment: quatrex-dev
          environment-file: environment-dev.yml

      - name: Install Numba
        run: |
          pip install numba

      - name: Install qttools without Dependencies
        run: |
          pip install --no-deps --editable .

      - name: Run MPI Tests
        run: |
          NUMBA_DISABLE_JIT=1 mpiexec -np 3 pytest --only-mpi tests/

      - name: Run Normal Tests and Determine Coverage
        run: |
          NUMBA_DISABLE_JIT=1 pytest --cov=src/qttools --cov-report=term --cov-report=xml tests/

      - name: Code Coverage Summary
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage.xml
          badge: true
          fail_below_min: false
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both

      - name: Upload Coverage Reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: vincent-maillou/qttools
